/* ==================
  Global
===================== */
html {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: inherit;
}

p {
  text-align: justify;
}
.welcome{
text-align: center;
font-family: sans-serif;
font-weight: bold;

}

.address-location {
  color: #8b8e94;
}
.address-location:hover {
  color: blue;
}
.address-location-footer {
  color: white;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.abbr_titles:hover {
  color: #6a41ed;
  font-weight: 600;
}

.admin-form-details li {
  font-size: 18px;
}

/* ==================
Animations
===================== */

@keyframes bouncyText {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
  
}

/* Icons */

.icon-dots-three-vertical {
  font-size: 22px !important;
}

/* ==================
Typography
===================== */

.text-content h1 {
  font-size: 1.75rem;
}

.text-content h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 800;
  color: #6a41ed;
  margin: 30px;
}

.news-content p {
  font-size: 20px;
  line-height: 145%;
}

.article-bottom h5 {
  margin: 1em 0;
}

.article-bottom h5 a {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.article-bottom h5 a:hover {
  color: #6a41ed;
}

.editors-pick-text h2 {
  font-size: 3rem;
}

.editors-pick-text h2::after {
  content: "";
  height: 100px; 
  display: block;
  border-left: 3px solid #6a41ed;
}

@media screen and (min-width: 900px) {
  
  .text-content h1 {
    font-size: 1.875em;  
  }

  .news-content p {
    font-size: 20px;
  }

  .article-bottom h5 a {
    font-size: 20px;
  }
  
}

    .E-LIBRARY:link{
      background-color: #6a41ed;
      margin-bottom: 50px;
      padding-bottom: 30px;
      padding-top: 30px;
      text-decoration: none;
      }

.E_Library:link {

  margin-left: 50px;
   color: #fff;

}

.E_Library:hover{
color: #3bc0c7;
}


/* ======
  Index  
========= */

.marquee-news-tag {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin-right: .2em;
}

.marquee-heading {
  display: inline-block ;
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  font-weight: 300;
  transition: all .25s;
}

.marquee-heading:hover,
.marquee-heading:active {
  color: rgb(223, 223, 223);
}

@media screen and (min-width: 900px) {
  
  .marquee-news-tag {
    font-size: 28px;
  }

  .marquee-heading {
    font-size: 26px;
  }
  
}

.custom-cta-section {
  color: #000;
  padding: 3em 0;
  color: #fff;
  background-color: transparent;
  animation: bouncyText 2.5s infinite both;
  backface-visibility: hidden;
}

.custom-cta-section h2 {
  margin: 0px 0px 12px;
  padding: 0px;
  color: #6a41ed;
  float: left;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (max-width: 768px) {

  .custom-cta-section .btn {
    float: none;
    width: 100%;
    margin-top: 0px;
  }
}

.custom-cta-section .btn.btn-ghost {
  width: 200px;
  border: 1px solid #6a41ed;
  color: #6a41ed;
}

.custom-cta-section .btn.btn-ghost:hover,
.custom-cta-section .btn.btn-ghost:active {
  background: #6a41ed;
  color: #fff;
}

@media screen and (max-width: 480px) {

  .custom-cta-section .btn.btn-ghost {
    width: 100%;
  }
  
}

/* =====
End 
========*/

.custom-featured-news {
  justify-content: center;
  margin-bottom: 2.25em;
  place-items: center;
}

/* News Section  */

.news-header,
.featured-video-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.news-header .text-content,
.featured-video-wrapper .text-content {
  text-align: center;
  margin: 0 1.5em;
}

.featured-video {
  width: 90%;
}

@media screen and (min-width: 767px) {

  .featured-video {
    width: 450px;
  }
  
}

.featured-video iframe {
  width: 100%;
}

.news-header img {
  padding: 0 10px;
}

@media screen and (min-width: 900px) {
  
  .news-header,
  .featured-video-wrapper {
    flex-direction: row;
  }
  
  .featured-video-wrapper .text-content {
    text-align: left;
    margin-right: 2em;
  }
  
  .news-header .text-content,
  .featured-video-wrapper .text-content {
    width: 75%;
    margin: 0 auto;
    padding: 4em;
  }

  .featured-video-wrapper .text-content {
    text-align: left;
    width: 50%;
  }
  
  .news-header__img-wrapper {
    width: 85%;
  }
  
  .news-header img {
    padding: 0;
  }
  
}

/* News Content */

.news-content-wrapper {
  overflow: hidden;
  margin: 0 auto;
  padding: 2em 1.25em;
  background-color: #f2f4f5;
}

.news-content {
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 900px) {

  .news-content-wrapper {
    padding: 4em 0;
  }

  .news-content {
    max-width: 900px;
    color: #000;
  }
  
}

.img-grid figure {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 900px) {

  .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    place-items: center;
  }

}

.scale-img:active {
  transform: scale(1.4);
}

/* Related News */

.related-news-container {
  max-width: 100%;
  margin: auto;
  padding: 1em;
}

.related-news {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 900px) {

  .related-news {
    flex-direction: row;
  }

  .related-news-container {
    padding: 3em;
  }
  
}

.related-news article {
  margin-right: 1em;
}

.related-news article:last-child {
  margin-right: 0;
}

.article-top img {
  height: 250px;
  object-fit: cover;
}

/* ======================
  ABOUT PAGE 
========================= */

.site-half {
  font-size: 20px;
}

.story-card {
  font-size: 18px;
  margin-bottom: 1.25em;
  background: #fff;
  padding: 40px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
}
 
.img-visionaries {
  display: block;
  margin: 0 auto 1.25em;
  width: 250px !important;
}

.img-visionaries-text p {
  text-align: center;
  font-size: 1.75rem;
}


.avatar-text-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 1.5rem;
}

.avatar-text-wrapper:last-child {
  margin-bottom: 0;
}

.avatar-text-wrapper .text {
  margin-top: 1rem;
  text-align: center;
  font-size: 12px;
}

.avatar-text-wrapper strong {
  font-size: 16px;
}

@media screen and (min-width: 768px) {

  .avatar-text-wrapper {
    flex-direction: row;
  }
  
  .avatar-text-wrapper .text {
    text-align: left;
    font-size: 16px;
  }

  .avatar-text-wrapper strong {
    font-size: 15px;
  }

}

.classic-bold {
  display: block;
  font-weight: 700;
}

.avatar-text-wrapper .text {
  margin-left: 20px;
}

.avatar {
  border-radius: 20px;
  height: auto;
  width: 150px;
}

@media screen and (min-width:768px) {
  .avatar {
    width: 200px;
  }
}

/* Admission page  */

.section-form-sale .heading-tertiary a {
  display: inline-block;
  color: #000;
  border-bottom: 2px solid #000;
  cursor: pointer;
  transition: all .3s;
}

.section-form-sale .heading-tertiary a:hover,
.section-form-sale .heading-tertiary a:active {
  transform: scale(1.03);
}

.heading-primary {
  font-size: 38px;
  font-weight: 700;
}

.heading-secondary {
  font-size: 20px;
}

.heading-tertiary {
  font-size: 17.5px;
  font-weight: 700;
  margin-bottom: .5em;
}

.paragraph-text {
  font-size: 16px;
  margin-bottom: 1.25em;
}

.avatar-text-wrapper strong {
  font-size: 20.5px;
}


.features-list,
.venue-detail {
  font-size: 16px;
}

.contact-number {
  display: block;
  font-size: 16px;
}

@media screen and (min-width: 900px) {

  .heading-secondary {
    font-size: 28px;
  }

  .heading-tertiary {
    font-size: 22px;
  }

  .paragraph-text {
    font-size: 20px;
  }

  .contact-number {
    font-size: 20px;
  }
  
}

/* Map */

.map {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding-top: 33.33%;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; 
  right: 0;
  left: 0; 
  bottom: 0;
}

/* Utilities */

.u-text-white {
  color: white;
}

.u-px-1 {
  padding: 10px;
}